.img{
     border: 1px solid yellow;
     margin: 10 10 10 10;
     background-color: grey;
     width: 0;
     
}

h2 {
    color: white
}    
    

body {
    background-color:green
}

span{
    color: yellowgreen;
}    
